@font-face {
    font-family: varela-round;
    src: url(./fonts/VarelaRound-Regular.ttf) format("truetype");
}

:root {
    --black: black;
    --white: white;
    --lightgrey: rgb(218, 218, 218);
    --grey: rgb(153, 153, 153);
    --darkblue: #002bb8;
    --blue: #0077ff;
    --lightblue: #00d9ff;
}

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    -webkit-tap-highlight-color: transparent;
}

html {
    touch-action: manipulation;
    height: 100vh;
}

body {
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    font-family: varela-round;
    font-size: min(2vw, 20px);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}



/** classes **/

.header {
    z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    border-top: 0.3vw solid var(--blue);
    position: absolute;
    top: 0;
    width: 100%;
    padding: min(1vw, 10px) 0 min(2vw, 20px) 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    align-items: center;
    justify-items: center;
}

.logo {
    background-color: transparent;
    fill: var(--white);
    transition: 0.1s;
    justify-self: start;
    display: flex;
    align-items: center;
}

.nav-bar {
    transform: translateY(0%) !important;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: min(2vw, 20px);
}

.nav-bar > div {
    display: none;
}

.nav-bar > a {
    transition: 0.1s;
    position: relative;
    padding: min(1vw, 10px) min(2vw, 20px);
    margin: 0 min(1vw, 10px);
    border-radius: 50px;
    font-size: 0.7em;
    font-family: varela-round;
    font-weight: bold;
    color: var(--white);
}

.nav-bar > a:focus {
    color: var(--white);
    background-color: var(--blue);
}

.user-bar {
    background-color: transparent;
    margin-right: min(2.5vw, 25px);
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: end;
}

.user-bar > a {
    transition: 0.1s;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.user-bar > a:focus {
    background-color: var(--blue);
}

.nav-menu {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding-top: 1vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid var(--darkblue);
}

.nav-menu::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.2;
}

.nav-menu > a {
    transition: 0.1s;
    position: relative;
    padding: min(8vw, 80px) 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: varela-round;
    font-weight: bold;
    color: var(--white);
    border-top: 2px solid var(--darkblue);
}

.menu-open-btn {
    height: 20px;
    width: 30vw;
}

.menu-close-btn {
    height: fit-content;
    width: 30vw;
    margin: 5vw 0;
}

.banner {
    background-color: transparent;
    position: relative;
    padding-top: 5vw;
    align-items: flex-end;
}

.banner > #div1 {
    z-index: 2;
    width: 60vw;
    height: 35vw;
    justify-content: center;
}

.banner > #div1 > img {
    width: min(3vw, 20px);
    margin: 1vw 2vw;
    cursor: pointer;
}

.banner > #div2 {
    z-index: 2;
    box-sizing: content-box;
    width: min(45vw, 400px);
    margin: 0 5vw;
    height: min(fit-content, 100vw);
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
}

.banner > #div2 > h2 {
    color: var(--white);
    font-size: 1.8em;
}

.banner > #div2 > p {
    color: var(--lightgrey);
    font-size: 0.8em;
}

.banner > #div2 > button {
    color: var(--blue);
    transition: 
        background-position 0.5s ease-out,
        color 0.4s ease-in;
    font-family: varela-round;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to right, transparent 50%, var(--blue) 50%);
    background-size: 200% 100%;
    border: 0.1em solid var(--blue);
    margin-top: 1vw;
    padding: 0.2em 1em;
    outline: none;
}

.banner > #div2 > button:hover {
    background-position: 100%;
    color: var(--white);
}


.banner > img {
    filter: brightness(70%);
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}


/* ---- */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.selected {
    color: var(--blue) !important;
    background-color: var(--white) !important;
}

.selected:hover {
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.0);
}

.round-padding {
    transition: 0.1s;
    padding: min(2vw, 10px) min(2vw, 10px);
    margin: 0 min(1vw, 10px);
    border-radius: 50px;
}

.blue-hover:hover {
    background-color: var(--blue);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.0);
}

.dark-hover:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.disabled {
    display: none;
}

/* animations */

@keyframes stretch {
    0% {transform: scale(0.8); opacity: 1;}
    50% {transform: scale(1.2); opacity: 0.5;}
    100% {transform: scale(1); opacity: 0;}
}
.stretch-animation {
    animation: stretch 0.2s ease-in 0s normal 1 none running;
}

@keyframes translate-down {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}
}
.translate-down-animation {
    animation: translate-down 0.5s ease-out 0.1s normal 1 both running;
}

@keyframes translate-up {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
}
.translate-up-animation {
    animation: translate-up 0.5s ease-out 0.1s normal 1 both running;
}

@keyframes expand-width {
    0% {width: 0%}
    100% {width: 100%}
}
.expand-width-animation {
    animation: expand-width 1s ease-in 0s normal 1 both running;
}

@keyframes contract-width {
    0% {width: 100%}
    100% {width: 0%}
}
.contract-width-animation {
    animation: contract-width 1s ease-in 0s normal 1 both running;
}



/* media query */